<!DOCTYPE html>
<html lang="en"> <!-- Language is English --> 
<!-- Note: Style may remain even after commenting out, remove entirely from html--> 
   <link rel = "stylesheet" type = "text/css" href="software.css" /> <!-- Import styles from different file --> 
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="software.js"></script>
	<body ng-controller="ProjCtrl">
	<meta name="keywords" content="Soon Chee Loong, University of Toronto, cheeloongsoon@mail.utoronto.ca, Electrical Engineer"/>
	<meta name="description" content="Soon Chee Loong's Work"/>
		<div class="buttonWrapper">
			    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
		</div>
		<!-- Article-->
		<div id="titleOfSoftware">
		<h2>Doodle Jump</h2>
		<h3>Purpose</h3> 
		<p> 
		This project is to program a vertical 2D game. 
		
		</p> 
		<h3>Design Challenges</h3>
			<h4>Collision Detection</h4> 
			<p>
				We used rectangular bounding boxes for all our sprites and implement collision detection 
				on rectangular bounding boxes. 
			</p>
			
			<h4>Generation of Ledges</h4> 
			<p>
				We generated the obstacles at random locations on the screen making sure that 
				each ledge is generated such that it is possible for the player to jump to it 
				in time. In other words, we made sure we do not generate any impossible ledges. 
			</p>	
			<h4>Gravity</h4> 
			<p>
				We implemented gravity so that the jumping sprite will land and jump similar to the motion 
				of an actual person. 
			</p>
			
		<h3>Result</h3> 
		<p>
			The Doodle Jump game is demonstrated in Video 1. 
		</p>
		<video poster="" controls width="720" height="405"> <!-- Poster is the picture on screen before clicking play --> 
		<source src="video/doodleJump.mp4" type="video/mp4" />
		<p>Your browser doesn't support video, please <a href="video/doodleJump.mp4">download it</a>.</p>
		</video>
		<p> <ins>Video 1: Demonstration of Doodle Jump Game</ins> </p> 
		<h3>Report</h3>
		<p>
		<a class=Report href="https://github.com/scheeloong/Cpp/tree/master/Doodle%20Jump"><span>Code</span></a><br><br> 
		</p>

		<h3>Technologies</h3>
		<div id="parent">
			<span id="headerTech"><b>C++</b></span>
			<span id="technology">- Primary Language</span>
			<br><br>
			<span id="headerTech"><b>Allegro 5</b></span>
			<span id="technology">- Game Library</span>
		</div>
			
		<h3>Task Distribution</h3>
		
		<h4>Soon Chee Loong</h4>
		<p>
			Implement bounding boxes. 
			Implement generation of ledges. 
			Implement the update function to update all objects on the screen at each frame rate. 
		</p> 
		<h4>Vivian Liu</h4>
		<p>
			Implement the gravity motion of the jumping box. 
			Implement collision detection.
			Implement controls of game. 
			Handle data structure to keep track of all objects on the screen. 
		</p> 
		</div> 
	</body>
</html>