<!DOCTYPE html>
<html lang="en"> <!-- Language is English --> 
<!-- Note: Style may remain even after commenting out, remove entirely from html--> 
   <link rel = "stylesheet" type = "text/css" href="software.css" /> <!-- Import styles from different file --> 
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="software.js"></script>
	<body ng-controller="ProjCtrl">
	<meta name="keywords" content="Soon Chee Loong, University of Toronto, cheeloongsoon@mail.utoronto.ca, Electrical Engineer"/>
	<meta name="description" content="Soon Chee Loong's Work"/>
		<div class="buttonWrapper">
			    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
		</div>
		<!-- Article-->
		<div id="titleOfSoftware">
		<h2>Outbreak</h2>
		<h3>Purpose</h3> 
		<p> 
		Outbreak of viruses occurs rapidly. It will be useful to simulate how an outbreak travels. 
		Given a list of cities, their distances, and the initial city that got infected,
		this project list the order in which the cities get infected. 
		</p> 
		<h3>Design Challenges</h3>
			<h4>Djikstra's Algorithm</h4> 
			<p>
				We used the Djikstra's Algorithm to calculate which cities will get infected next. 
			</p>

		<h3>Result</h3> 
		<p>
		The Outbreak simulation works perfectly as shown in Video 1 
		</p>
		<video poster="" controls width="720" height="405"> <!-- Poster is the picture on screen before clicking play --> 
		<source src="video/outbreak.mp4" type="video/mp4" />
		<p>Your browser doesn't support video, please <a href="video/outbreak.mp4">download it</a>.</p>
		</video>
		<p> <ins>Video 1: A Demonstration of the Outbreak Simulator.</ins> </p> 
		
		<h3>Report</h3>
		<p>
		<a class=Report href="https://github.com/scheeloong/Python2/tree/master/Outbreak"><span>Code</span></a><br><br> 
		</p>

		<h3>Technologies</h3>
		<div id="parent">
			<span id="headerTech"><b>Python 2.7</b></span>
			<span id="technology">- Primary Language</span>
		</div>
			
		<h3>Task Distribution</h3>
		
		<h4>Soon Chee Loong</h4>
		<p>
			Implement the Djikstra Algorithm. 
		</p> 

		<h4>Timothy Ng</h4> 
		<p>
			Parsing the input and text files into relevant list structures. 
		</p>

		<h3>Acknowledgement</h3>
		<p>
		<a class=Report href="http://www.cs.toronto.edu/~fpitt/"><span>Prof. Francois Pitt</span></a> for creating this project. <br> 
		</p>
		</div> 
	</body>
</html>