<!DOCTYPE html>
<html lang="en"> <!-- Language is English --> 
<!--
<style type="type/css" media="all">
	@import url(stylesheet.css);
</style> 
-->
<!-- Note: Style may remain even after commenting out, remove entirely from html--> 
	<link rel = "stylesheet" type = "text/css" href = "software.css" /> <!-- Import styles from different file --> 
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="software.js"></script>
	<head>
		<meta charset="utf-8">
		<title>Soon Chee Loong</title>
		<!--
			controls: needed to make audio player appear, if not, no way to play/stop music
			autoplay: To autoplay audio once enter browser 
		--> 
	</head>
	<body>
	<meta name="keywords" content="Soon Chee Loong, University of Toronto, cheeloongsoon@mail.utoronto.ca, Electrical Engineer"/>
	<meta name="description" content="Soon Chee Loong's Work"/>
	<p><em>University of Toronto</em></p>
		<header>
			<h1>Soon Chee Loong</h1>
		</header>

<div id='cssmenu'>
<ul>
   <li><a href="../../index.html"><span>Home</span></a></li>
   <li class='active has-sub'><a href="../../project.html"><span>Project</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Engineering</span></a>
            <ul>
               <li><a href="./dowelSortingRobot.html"><span>Dowel Sorting Robot</span></a></li>
               <li><a href="./motionTrackingDodgeBall.html"><span>Motion Tracking Dodge Ball</span></a></li>
               <li><a href="./musicPlayer.html"><span>Music Player</span></a></li>
               <li><a href="./balancingRobot.html"><span>Balancing Robot</span></a></li>
			   <li class='last'><a href="./rubeGoldbergToyBox.html"><span>Rube's Goldberg Toy Box</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Software</span></a>
            <ul>
			   <li class='has-sub'><a href='#'><span>Desktop</span></a>
				   <ul>
					    <li class='has-sub'><a href='#'><span>C++</span></a>
							<ul> 
								<li><a href="./graphicalCircuitSimulator.html"><span>Graphical Circuit Simulator</span></a></li>
								<li><a href="./sideShooter.html"><span>Side Shooter</span></a></li>
								<li class='last'><a href="./doodleJump.html"><span>Doodle Jump</span></a></li>
								<li><a href="./rayTracer.html"><span>Ray Tracer</span></a></li>
								<li><a href="./penguinSimulator.html"><span>Penguin Simulator</span></a></li>
							</ul> 
						</li> 
					    <li class='has-sub'><a href='#'><span>Java</span></a>
							<ul> 
							</ul> 
					    </li> 
					    <li class='has-sub'><a href='#'><span>Python</span></a>
							<ul> 
								<li><a href="./outbreak.html"><span>Outbreak</span></a></li>
								<li><a href="./painterlyRendering.html"><span>Painterly Rendering</span></a></li>
								<li><a href="./faceRecognition.html"><span>Face Recognition</span></a></li>
								<li><a href="./triangulationMatting.html"><span>Triangulation Matting</span></a></li>
								<li><a href="./sudoku.html"><span>Sudoku</span></a></li>
								<li><a href="./bayesNet.html"><span>Bayes Net</span></a></li>
							</ul> 
					    </li> 
					    <li class='has-sub'><a href='#'><span>C</span></a>
							<ul> 
								<li><a href="./solitaireEncryption.html"><span>Solitaire Encryption</span></a></li>
							</ul> 
					    </li> 
					    <li class='has-sub'><a href='#'><span>UNIX</span></a>
							<ul> 
								<li><a href="./serverDatabase.html"><span>Server Database</span></a></li>
								<li><a href="./battleServer.html"><span>Battle Server</span></a></li>
								<li><a href="./jobControl.html"><span>Job Control</span></a></li>
								<li><a href="./preemptiveThreads.html"><span>Preemptive Threads</span></a></li>
							</ul> 
					    </li> 
					    <li class='has-sub'><a href='#'><span>Bash</span></a>
							<ul> 
								<li><a href="./cut.html"><span>Cut</span></a></li>
							</ul> 
					    </li> 
					    <li class='has-sub'><a href='#'><span>Matlab</span></a>
							<ul> 
							</ul> 
					    </li> 
					</ul> 
				</li> 
			   <li class='has-sub'><a href='#'><span>Mobile</span></a>
				   <ul>
						<li class='has-sub'><a href='#'><span>Android</span></a>
							<ul> 
							</ul> 
					    </li> 
						<li class='has-sub'><a href='#'><span>IOS</span></a>
							<ul> 
							</ul> 
					    </li> 
					</ul> 
				</li> 
			   <li class='has-sub'><a href='#'><span>Website</span></a>
				   <ul>
						
					</ul> 
				</li> 
			   <li class='has-sub'><a href='#'><span>Microcontroller</span></a>
				   <ul>
						<li class='has-sub'><a href='#'><span>PIC Assembly</span></a>
							<ul> 
								<li><a class=Links href="./dowelSortingRobot.html" title="dowelSortingRobot"><code>Dowel Sorting Robot</code></a></li> 
							</ul> 
					    </li> 
						<li class='has-sub'><a href='#'><span>NIOSII Assembly</span></a>
							<ul> 
								<li><a class=Links href="./musicPlayer.html" title="musicPlayer"><code>Music Player </code></a></li> 
								<li><a class=Links href="./balancingRobot.html" title="balancingRobot"><code>Balancing Robot </code></a></li> 							</ul> 
					   </li> 
					</ul> 
				</li> 
            </ul>
         </li>
      </ul>
   </li>
   <li><a href="../../research.html"><span>Research</span></a></li>
   <li><a href="../../code.html"><span>Code</span></a></li>
   <li><a href="../../leadership.html"><span>Leadership</span></a></li>
   <li><a href="../../career.html"><span>Career</span></a></li>
   <li class='last'><a href="../../contact.html"><span>Contact</span></a></li>
</ul>
</div>


		<!-- Article-->
		<div id="titleOfSoftware">
		<h2>Preemptive Threads</h2>
		<h3>Purpose</h3> 
		<p> 
		The purpose of this project is to implement a user-level preemptive threading system using locks and condition variables. 		
		</p> 
		<h3>Design Challenges</h3>
			<h4>Locks, Condition Variables</h4> 
			<p>
				TODO
			</p>
		
		<h3>Result</h3> 
		<p>
		The Preemptive Threading System works perfectly as shown in Video 1.
		</p>
		<video poster="" controls width="720" height="405"> <!-- Poster is the picture on screen before clicking play --> 
		<source src="video/preemptiveThreads.mp4" type="video/mp4" />
		<p>Your browser doesn't support video, please <a href="video/preemptiveThreads.mp4">download it</a>.</p>
		</video>
		<p> <ins>Video 1: A Demonstration of the Preemptive Threading System.</ins> </p> 

		<h3>Report</h3>
		<p>
		<a class=Report href="."><span>Code</span></a> 
		</p>
		
		<h3>Task Distribution</h3>
		
		<h4>Soon Chee Loong</h4>
		<p>
			A Solo Project.
		</p> 

		<h3>Acknowledgement</h3>
		<p>
			<a class=Report href="http://www.eecg.toronto.edu/~ashvin/"><span>Prof. Ashvin Goel</span></a> for creating this project. <br> 
		</p>
		</div> 
	</body>
		<footer>
		<p> 
		Last Update: <time></time>9<sup>th</sup> June 2015</p><br>
		<em>Software Without Limits</em> <br> 
		</p>
		</footer>
</html>