<!DOCTYPE html>
<html lang="en"> <!-- Language is English --> 
<!-- Note: Style may remain even after commenting out, remove entirely from html--> 
   <link rel = "stylesheet" type = "text/css" href="software.css" /> <!-- Import styles from different file --> 
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="software.js"></script>
	<body ng-controller="ProjCtrl">
	<meta name="keywords" content="Soon Chee Loong, University of Toronto, cheeloongsoon@mail.utoronto.ca, Electrical Engineer"/>
	<meta name="description" content="Soon Chee Loong's Work"/>
		<!-- Article-->
			<div class="buttonWrapper">
			    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
			</div>
			
		<div id="rubeGoldbergToyBoxNav">
		<h2>Rube's Goldberg Toy Box</h2>
		<h3>Purpose</h3> 
		<p> 
		The purpose of this project is to close a toy box using a Rube’s Goldberg Machine.
		This motivates little children to keep their toys in a toy box as it makes them keep their toys
		in a box just so they can play the Rube’s Goldberg Machine.
		The Rube’s Goldberg Machine has to has at least 20 different steps and complete all of them in a single run.				
		</p> 
		<h3>Goal</h3> 
		Our goal was to completely built a Rube’s Goldberg Machine that would run twenty
		different steps sequentially in a single run on the presentation day. </p> 
		
		<h3>Design Challenges</h3>
		
		<h3>Result</h3> 
		<p>
		The Rube’s Goldberg Machine completed all 20 steps in a single run as shown in <em>Video 1</em>. 
		</p>

		<video poster="img/RubeGoldbergToyBoxCover.png"controls width="720" height="405"> <!-- Poster is the picture on screen before clicking play --> 
		<source src="video/rubeGoldbergToyBox.mp4" type="video/mp4" />
		<p>Your browser doesn't support video, please <a href="video/rubeGoldbergToyBox.mp4">download it</a>.</p>
		</video>		
		<p> <ins>Video 1: A Demonstration of the Rube's Goldberg Toy Box.</ins> </p> 
		
		<h3>Reflection</h3> 
		<h4>Communication</h4> 
		<p>
		If your team-mate is not pulling their weight, let them know.
		Otherwise, you’ll risk completing the entire project yourself.
		</p>
		
		<h3>Report</h3>
		<p>
		<a class=Report href="./pdf/rubeGoldbergToyBox.pdf"><span>Report</span></a><br><br>
		</p>
		<h3>Task Distribution</h3>
		<h4>Soon Chee Loong</h4> 
		<p>
		Designed 15 steps and built the Rube’s Goldberg.
		</p>
		<h4>Jaclyna</h4>
		<p>
		Assist Chee Loong with building the Rube’s Goldberg.		
		</p> 
		<h4>Germaine</h4>
		<p>
		Assist Chee Loong with building the Rube’s Goldberg. Decorated the Rube’s Goldberg.		
		</p> 
		<h4>Neil</h4>
		<p>
		Designed 5 steps.	
		</p> 
		<h3>Acknowledgement</h3>
		<p>
		<a class=Report href="https://www.facebook.com/sweechuan.tan.3?fref=ts"><span>Lecturer Tan Swee Chuan</span></a>, who taught us the fundamentals of physics<br>
		</p>
		</div> 
	</body>
</html>