<!DOCTYPE html>
<html lang="en"> <!-- Language is English --> 
<!-- Note: Style may remain even after commenting out, remove entirely from html--> 
   <link rel = "stylesheet" type = "text/css" href="software.css" /> <!-- Import styles from different file --> 
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="software.js"></script>
	<body ng-controller="ProjCtrl">
	<meta name="keywords" content="Soon Chee Loong, University of Toronto, cheeloongsoon@mail.utoronto.ca, Electrical Engineer"/>
	<meta name="description" content="Soon Chee Loong's Work"/>
		<div class="buttonWrapper">
			    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
		</div>
		<!-- Article-->
		<div id="titleOfSoftware">
		<h2>Server Database</h2>
		<h3>Purpose</h3> 
		<p> 
		The purpose of this project was to implement a secure server database as a solution to Adobe's 2013 Database Hack. 		
		</p> 
		<h3>Design Challenges</h3>
			<h4>Hash Table Data Structure</h4> 
			<p>
				We chosed to use a Hash Table Data Structure as users will only create a new account and edit their accounts on Adobe. 
				They will never delete their account on Adobe. 
				We will never have to scan through all users on the database as well. 
				Therefore, we chosed to use a Hash Table Data Structure. 
			</p>
			<h4>Encryption</h4> 
			<p>
				We chosed to use the Solitaire Encryption Algorithm as we wanted to work with a simple encryption algorithm 
				for our presentation. 
			</p>
		<h3>Result</h3> 
		<p>
		The secure server database works perfectly as shown in Video 1. Notice that the data is encrypted inside the 
		database but is decrypted when sent back out of the database. 
		</p>
		<video poster="" controls width="720" height="405"> <!-- Poster is the picture on screen before clicking play --> 
		<source src="video/serverDatabase.mp4" type="video/mp4" />
		<p>Your browser doesn't support video, please <a href="video/serverDatabase.mp4">download it</a>.</p>
		</video>
		<p> <ins>Video 1: A Demonstration of the Secure Server Database.</ins> </p> 

		<h3>Reflection</h3> 
		<h4>Divide Work Based On Strengths</h4> 
		<p>
			We divided our work based on our strengths as described in this document:
		<a class=Report href="./pdf/serverDatabaseLessonLearnt.pdf">Lesson Learnt</a>
		</p>

		<h3>Report</h3>
		<p>
		<a class=Report href="https://github.com/scheeloong/ece297orange"><span>Code</span></a><br><br> 
		<a class=Report href="./pdf/serverDatabaseDesignDocument.pdf"><span>Report</span></a><br><br>
		<a class=Report href="./pdf/serverDatabase.pdf"><span>Presentation</span></a><br><br>  
		<a class=Report href="./pdf/serverDatabaseBugReport.pdf"><span>Bug Report</span></a>
		</p>

		<h3>Technologies</h3>
		<div id="parent">
			<span id="headerTech"><b>C/UNIX</b></span>
			<span id="technology">- Primary Language</span>
			</br> </br> 
			<span id="headerTech"><b>Doxygen</b></span>
			<span id="technology">- Documentation</span>
			</br> </br> 
			<span id="headerTech"><b>Lex & Yacc</b></span>
			<span id="technology">- Parsing</span>
			</br> </br> 
			<span id="headerTech"><b>Check</b></span>
			<span id="technology">- Unit Testing</span>
		</div>
			
		<h3>Task Distribution</h3>
		
		<h4>Soon Chee Loong</h4>
		<p>
			Came up with the idea of creating a solution for the Adobe Database Hack. 
			Implemented the data structure for our secure server database. 
			Handle reading from configuration file provided to set up the database. 
			Creating UML diagrams for the document. 
			Handle reading the large data converted by Jerry using Lex & Yacc. 
		</p> 

		<h4>Jerry Wang</h4> 
		<p>
			Retrieve large data from the web and convert them into a readable format from our code. 
			Handle server connections such as get, set, and authentication. 
			Made our server database concurrent by using PThreads. 
			Writing up the performance evaluation for the server database. 
		</p>
		
		<h4>Hannah Kwon</h4> 
		<p>
			Writing Check Unit Test and reporting any bugs found to Chee Loong and Jerry. 
			Writing Doxygen comments so that our functions will automatically be added to our DOxygen documentation. 
			Handle citations for our report. 
		</p>

		<h3>Acknowledgement</h3>
		<p>
		<a class=Report href="http://www.eecg.toronto.edu/~jacobsen/"><span>Prof. Hans Jacobsen</span></a> for inspiring us to do this project. <br> 
		<a class=Report href="http://ecp.engineering.utoronto.ca/faculty-and-staff-members/"><span>Dr. Ken Tallman</span></a> for guiding us for our final presentation and report.<br> 
		</p>
		</div> 
	</body>
</html>